absl-py==0.7.0
astor==0.7.1
blis==0.2.4
certifi==2019.3.9
chardet==3.0.4
configparser==3.7.3
cycler==0.10.0
cymem==2.0.2
de-core-news-sm==2.1.0
en-core-web-sm==2.1.0
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
idna==2.8
jsonschema==2.6.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.3
murmurhash==1.0.2
nltk==3.4
numpy==1.16.2
pandas==0.24.2
Pillow==5.4.1
pkg-resources==0.0.0
plac==0.9.6
preshed==2.0.1
protobuf==3.7.0
pyparsing==2.3.1
python-dateutil==2.8.0
pytorch-nlp==0.3.7.post1
pytz==2018.9
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
spacy==2.1.1
srsly==0.0.5
termcolor==1.1.0
thinc==7.0.4
torch==1.0.1.post2
torchtext==0.3.1
torchvision==0.2.2.post3
tqdm==4.31.1
urllib3==1.26.5
wasabi==0.1.4
Werkzeug==0.14.1
